body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1f2937, #111827);
    font-family: Arial, Helvetica, sans-serif;
    color: #f9fafb;
}

.card {
    max-width: 540px;
    padding: 2rem;
    background-color: #111827;
    border: 1px solid #374151;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

    & h1 {
        font-size: clamp(26px, 0.37vw + 24.82px, 32px);
        color: #60a5fa;
    }

    & form {

        & .form-group {
            position: relative;
        
            & .form-label {
                font-size: clamp(14px, 0.12vw + 13.61px, 16px) !important;
                font-weight: 600;
                color: #93c5fd;
            }
        
            & .form-control {
                background-color: #1f2937;
                border: 1px solid #374151;
                color: #f9fafb;
                appearance: none;
        
                & .form-control:focus {
                    background-color: #1f2937;
                }
            }

            & .erro {
                border: 1px solid #d14a4a;
            }
        
            & .error {
                position: absolute;
                font-size: 12px;
                color: #d14a4a;
                bottom: -19px;
            }
        }
    }

    & .output {
        background-color: #1e293b;
        border: 1px solid #334155;
        padding: 1rem;
        border-radius: 0.2rem;
        font-family: monospace;
        font-size: clamp(13px, 0.32vw + 11.81px, 18px);
        color: #4ade80;
    }
}



